<!DOCTYPE html>
<html>
    <head>
        <% include include/head.ejs %>
        <title>Buscas</title>
        <style>.card{ margin-bottom: 8px}</style>
    </head>         
    <body>
        <% include include/header.ejs %>
        <main class="form container">
                <h2><%= string%></h2>
                <% if(retorno.length == 0){ %>
                    <h2>Nada Encotrado :(</h2>    
                <% } %>
                <% for(var i=0; i < retorno.length; i++){ %>
                    <div class="card">
                        <div class="card-header">
                        <p>Título: <%= retorno[i].title %> </p>
                        </div>
                        <div class="card-body">
                            <p>Descrição: <%= retorno[i].description%></p>
                            <p>Data upload: <%= retorno[i].createdAt%></p>
                            <a class="bnt btn-sucess" href="download/<%=retorno[i].id %>">Download</a>
                        </div>
                    </div>
                <% } %>
        </main>
        <% include include/footer.ejs %>
        <% include include/scripts.ejs %>
    </body>
</html>