<!DOCTYPE html>
<html>
    <head>
        <% include include/head.ejs %>
        <title>Buscas</title>
        <style>.card{ margin-bottom: 8px}</style>
    </head>         
    <body>
        <% include include/header.ejs %>
        <main class="form container">

                <form action="busca" method="GET">
                        <div class="form-group row">
                            <input class="form-control col-md-4" style="margin-left: 17px" type="text" id="busca" name="b" value="<%= string%>" required  autocomplete="off">
                            <button class="btn btn-outline-info col-1"  type="submit">Buscar</button>
                        </div>
                </form>

                <% if(retorno.length == 0){ %>
                    <h2>Nada Encotrado :(</h2>    
                <% } %>
                <% for(var i=0; i < retorno.length; i++){ %>
                    <div class="card">
                        <div class="card-header">
                        <p>Título: <%= retorno[i].title %> </p>
                        </div>
                        <div class="card-body">
                            <p>Descrição: <%= retorno[i].description%></p>
                            <p>Criado por: <%= retorno[i].createdBy.name%></p>
                            <p>Email para contato: <%= retorno[i].createdBy.email%></p>
                            <p>Data upload: <%= retorno[i].createdAt%></p>
                            <button class="btn btn-success down" pdf="<%=retorno[i].id %>">Download</button>
                            <% if( user.google.id === retorno[i].createdBy.id ){ %>
                            <a class="btn btn-danger" href="/api/delete/<%=retorno[i].id %>">Excluir</a>
                            <% }%>

                        </div>
                    </div>
                <% } %>
        </main>
        <% include include/footer.ejs %>
        <% include include/scripts.ejs %>
    </body>
    <script src="http://danml.com/js/download.js"></script>
    <script>
    $( document ).ready(function(){
        $('.down').on('click', function(){
            var link = $(this).attr('pdf');

            $.ajax({
                type: "GET",
                url: '/api/getPdf/' + link,
                success: function(data){
                    console.log('CHEGOU',data);
                    $.ajax({
                        type: "GET",
                        url: 'http://' + data,
                        success: download.bind(true, "application/pdf", "download.pdf"),
                        fail: function(err){
                            console.log('err', err)
                        },
                        xhrFields: {
                            responseType: 'blob'
                        }
                    });
                },
            });
        })
    })
    </script>
</html>